.body_backgorund 
{
    background-image:url(backg.jpg);ADV-C88 HIT THE GOALADV-C88 HIT THE GOAL
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h3
{
	width: 1000px;
	background-color: rgb(157, 120, 120);
	display: inline-block;
}

